<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>About</title>
  <meta name="description" content="Kevin's personal portflio.">
  <meta name="author" content="Kevin Harvey">

  <meta property="og:title" content="Kevin's Site">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.kevharv.xyz/">
  <meta property="og:description" content="Kevin's personal portflio.">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/images/favicon.ico">
  <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/stylesheets/bootstrap.css"> 
  <link rel="stylesheet" href="/stylesheets/custom.css"> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index.html">Kevin's Portfolio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/connect.html">Connect</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <h1 class="aboutMeHeading">About Me</h1>
      <div>
      <div class="aboutMe">
        <div class = "background-details">
          <h4>Background</h4>
          <p>
            Some believe me to be part computer. Although I often cultivate successful relationships with coworkers and companions, alas I must admit I am quite robotic at times.
            I am opportunistic and driven, constantly pushing the edge of innovation and thought. I seek a higher plane of existence, a place beyond this realm.
            Intersellar is not a work of science fiction, but rather a prophecy of the future.
          </p>
        </div>
        <div class = "aspirations">
          <h4>Aspirations</h4>
          <p>
            As a Computer Science student, the areas of development that I have the opportunity to pursue many career paths. The field of study is far 
            more broad than anyone imagined just ten years ago. That being said, there are a couple specific areas of study that fascinate me. Computer 
            networks for one are a huge area of interest for me. The way in which computers talk to each other, route traffic, tag the information we all 
            place on the internet is astounding. I also have a substantial interest in back-end software design. Manipulating data, connecting systems, creating services, 
            developing the systems that support the applications we all know and love. Even within these two areas, there are many different specialties. 
            Alas, I am hesitant to limit my scope at this point in my career.
          </p>
        </div>
        <div class="aboutImg">
          <img src="/images/sunset.jpg">
          <h6 class="aboutQuote">"It has become appallingly obvious that our technology has exceeded our humanity." -Albert Einstein</h6>
        </div>
      </div>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>