<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Projects</title>
  <meta name="description" content="Kevin's personal portflio.">
  <meta name="author" content="Kevin Harvey">

  <meta property="og:title" content="Projects">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.kevharv.xyz/">
  <meta property="og:description" content="Kevin's personal portflio.">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/images/favicon.ico">
  <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/stylesheets/bootstrap.css"> 
  <link rel="stylesheet" href="/stylesheets/projectPage.css"> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
</head>

<body class="projectBackground">
    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index.html">Kevin's Portfolio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/connect.html">Connect</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <h1 class="projectHeader">PROJECTS</h1>
      <div class="projectButtons">
        <div class="projectEntry">
          <a class="projectLink" href="http://kevharv.xyz">Personal Portfolio Website</a>
          <p class="projectDescription">You're looking at it! This is my personal portfolio website. It's a hub for all my projects both current and future. More content is coming soon!</p>
        </div>
      </div>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>