body, html {
    height: 100%;
}

.projectButtons{
    max-width: 30%;
    justify-content: left;
}

.projectEntry {
    padding: 3%;
    margin: 5%;
    background-color: rgba(151, 151, 151, 0.25);  
    backdrop-filter: blur(5px);
}

.projectLink {
    text-decoration: none;
    color: rgba(0,0,0,1);
    font-style: bold;
}

.projectLink:hover {
    color: rgb(70, 70, 70);
}

.projectDescription {
    font-style: italic;
}

.projectBackground {
    background: linear-gradient(45deg, rgb(174, 184, 241), rgb(150, 255, 129));
}

.projectHeader {
    padding: 1.5%;
}

